.clear {
  clear: both;
}
nav {
  float: left;
  color: #FF0000;
  font-family: Helvetica, sans-serif;
}
nav ul li ul.sub-nav {
  display: none;
}
.box {
  width: 200px;
  height: 200px;
  background: red;
}
.box2 {
  width: 200px;
  height: 200px;
  background: gray;
}
nav {
  margin-bottom: 12pt;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
body {
  margin: 20pt;
  background-color: black;
  color: white;
}
#sale,
#announce {
  padding: 10pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  background-image: url("../pics/salePic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
#picInfo .row img {
  max-width: 100%;
  max-height: 100%;
}
#picInfo .row div {
  text-align: center;
  padding: 15pt;
  border: 3pt solid black;
}
#locations ul {
  list-style-type: none;
  padding: 0pt;
}
#strongerColor {
  color: red;
}
