body {
  margin-top: 65px;
  z-index: -1;
}
@media only screen and (min-width: 992px) {
  body {
    margin-top: 120px;
  }
}
.navbar {
  background: rgba(0, 0, 0, 0.8);
  max-height: 500px;
  overflow-x: auto;
}
.navbar .form-inline {
  width: 100%;
}
.navbar .form-inline input {
  border-radius: 20px;
  width: 75%;
}
.navbar .form-inline button {
  width: 20%;
  background: red;
  color: white;
  border: none;
  border-radius: 20px;
}
@media only screen and (min-width: 992px) {
  .navbar {
    overflow-x: visible;
    max-height: 100%;
  }
}
.navbar-brand {
  margin: auto;
}
.navbar-brand img {
  width: 40px;
}
@media only screen and (min-width: 992px) {
  .navbar-brand {
    position: absolute;
  }
  .navbar-brand img {
    width: 60px;
  }
}
.top-links {
  height: 30px;
}
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}
.dropdown-menu {
  background: transparent;
}
.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  border-radius: 20px;
  width: 70px;
  height: 35px;
}
.carousel .carousel-button {
  background: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.carousel .carousel-button:hover {
  background: #ff6666;
  cursor: pointer;
}
.carousel .carousel-caption {
  text-shadow: 4px 4px 8px #000000;
}
@media only screen and (min-width: 992px) {
  .carousel .carousel-caption {
    position: absolute;
    top: 150px;
  }
}
.carousel .carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
}
.main-sections {
  padding: 0;
  margin: 0;
}
.main-sections .section-box {
  text-align: center;
  color: white;
}
.main-sections .section-box .section-content {
  position: relative;
  top: 80px;
  text-shadow: 4px 4px 8px #000000;
}
.main-sections .section-box button {
  background: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.main-sections .section-box button:hover {
  background: #ff6666;
  cursor: pointer;
}
.main-sections #section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//images/shoe2.jpg");
  width: 100%;
  height: 300px;
}
.main-sections #section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//images/hat3.jpg");
  width: 100%;
  height: 300px;
}
.main-sections #section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//images/shoe5.jpg");
  width: 100%;
  height: 300px;
}
.main-sections #section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//images/shirt3.jpg");
  width: 100%;
  height: 300px;
}
.footer-links {
  display: none;
}
@media only screen and (min-width: 992px) {
  .footer-links {
    display: block;
  }
}
.page-footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}
.page-footer a {
  color: white;
}
.page-footer .social-icons {
  width: 100%;
  margin-top: 10px;
}
.page-footer .social-icons i {
  font-size: 60px;
  color: #3C81C3;
}
.page-footer .social-icons i:hover {
  color: #244d75;
  cursor: pointer;
}
.page-footer .social-icons .mobile-links {
  margin: 20px 0;
}
.page-footer .copywright {
  margin-top: 20px;
}
/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 120px;
  }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0.5rem;
    margin: 0 1rem;
  }
  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }
  .navbar .dropdown-menu {
    border: none;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    top: 70px;
  }
  .navbar .dropdown-menu .nav-item {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 0.5rem;
  }
  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.8);
  }
}
