.carousel-title {
    font-weight: 700;
    font-size: 24px;
    font-style: @fontFamily;
}
.container.amenities {
max-width: 100%;
display: flex;
justify-content: space-evenly;
padding-top: 50px;
padding-bottom: 50px;
}

.card-deck {
margin: 135px;
margin-top: 0;
margin-bottom: 0;
display: flex;
.card {
    justify-content: space-around;
    .card-title {
        display: flex;
        justify-content: center;
    }
    .card-text {
        font-weight: 100;
    }
}
}

.container.image-spacer {
display: flex;
justify-content: center;
margin-top: 100px;
max-width: 100%;  
margin-bottom: 40px;
}
