@import "variables";
//Global styles
a {
  color: @main-link-color;
  &:hover {
    color: #00709d;
  }
}

div.top-alert {
  margin-bottom: 0px;
  background-color: #f00;
  color: #fff;
}
@import "header";
@import "index_page";
@import "secondary_page";
@import "contact_page";
@import "footer";
