#ad{
  background-color: @LtAccent;
  width: 100%;
  color: @DkColor;
  font-size: 2rem;
text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}


.sale{
  background-color: @DkColor;

h2{
 
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding: 4%;
width: 100%;
}
}
img{
  width: 100%;
}

.fullWidth{
  width: 100%;

}

.threeBoxes{
  padding-top: 3%;
  padding-bottom: 3%;

  img{

    padding-top: 3%;
    padding-bottom: 3%;
  }
 
}

.squareLeft{
 
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: center;
  align-content: center; 

  img{
    height: 94%;
  }

}//squareLeft

.squareRight{
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;

  img{
    width: 50%;
height: 100%;
  }
}

.fourBoxesAnimation{
a{
  text-decoration: none;
  color: @DkColor;
}

a:hover{
  color: @LtAccent;
}



  button{
    border: solid 1px @LtAccent;
    background-color: @LtAccent;
    width: 100%;
  
}
button:hover{
    background-color: @DkColor;
    color: @LtAccent;
    border: solid 1px @LtAccent;

}
}


.squareLeftSix{
  padding-top: 3%;
  padding-bottom: 3%;
.bigSix{
  @media @mobile{
    margin-left:4%;
  }


  width: 312px;
    height: 312px;
 margin-left: 20%;
  }

.squareSix{

  img{

padding-top: 2%;
    width: 156px;
    height: 156px;
  }
}
}
footer{
  margin-top: 6%;
}