img{
  width: 100%;
}

.fullWidth{
  width: 100%;
}

.threeBoxes{
  padding-top: 3%;
  padding-bottom: 3%;
}

.squareLeft{
 
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: center;
  align-content: center; 

}//squareLeft

.squareRight{
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  img{
    width: 50%;
  }
}
