.navigation{
    background-color: @DkColor;

    nav{
        a{
            text-decoration: none;
            font-size: 1rem;
            color: white;
        }//a
    }//nav
}//navigation
  
footer{
    background-color: @DkColor;

    p{
        color: white;
        font-size: 1rem;
        padding: 2%;
        text-align: center; 
    }
}