.form{
    border-top: .5px solid #999;
    border-right: .5px solid #999;
    @media @tablet{
        border-top: .5px solid #fff;
    border-right: .5px solid #fff;
    }
}


.signIn{
    button{
        width:50%;
        border: solid 1px @LtAccent;
        background-color: @LtAccent;
    }
    button:hover{
        background-color: @DkColor;
        color: @LtAccent;
        border: solid 1px @LtAccent;
    }
}





h1{
    color: @DkColor;
    font-size: 3rem;
}
form{
    padding-bottom:8%;


}//.form

.register{
    padding-bottom: 4%;
    border-top: .5px solid #999;

  
h2{
    padding-top: 4%;
    color: @DkColor;
    font-size: 2rem;
    padding-bottom: 4%;
}

ul{
    padding-bottom: 2%;
}
li{
    padding: 2%;
}
}