.mainBox{
    margin-top: 40px;

}

.left{

    h5{
        font-size: 1rem;
        color: @DkColor;
        padding-bottom: 4%;
    }
.colorBox{
    width: 30px;
    height: 30px;

    margin: 6px;
}//colorBox}

a{
    text-decoration: none;
    color: white;
    font-size:1rem;
    padding-left: 20px;

}
a:hover{
    color: @LtAccent;
}

.accordion{
    .card{
        background-color: @DkColor;
        color: white;
    }
    padding-top: 10%;
    button{
        width: 100%;

    color: white;
    }

   
}//accordion
}//left

h1{
    width: 100%;
    padding: 4%;
    font-size: 3rem;
    color:@DkColor;

}

.btn{
    margin-top: 4%;
    margin-bottom: 4%;
    background-color:@DkColor;
}

.btn-secondary{
     
        border: solid 1px @LtAccent;
        background-color: @LtAccent;
    }
    .btn-secondary:hover{
        background-color: @DkColor;
        color: @LtAccent;
        border: solid 1px @LtAccent;
    
}

@media @tablet{

.left{
    display: none;
}
}//mobile